@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background: black;
}

main {
    height: 100vh;
    background-image: url('assets/images/home.jpg');
    background-size: cover;
    display: flex;
    justify-content: center
}

main::before {
    height: 100vh;
    content: ''; 
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3); 
    z-index: 1; 
}


main > * {
    position: relative;
    z-index: 2; 
}

#content{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav > button {
    color: white;
    border: none;
    outline: none;
    background-color: black;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 18px;
}

nav > button:hover {
    color: lightGreen;
    cursor: pointer;
}

#home-title, #home-subtitle, #about-title, #about-subtitle {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
}

#home-title, #about-title {
    padding-top: 30px;
}

h1, h2, h3, h4, p {
    color: white;
}

#order-btn {
    margin-top: 100px;
    background: orange;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    color: black;
    font-weight: 800;
    font-size: 15px;
}